<!--The content below is only a placeholder and can be replaced.-->


<a class="btn" [routerLink]="['list']" routerLinkActive="btn-primary">users</a>
<a class="btn" [routerLink]="['form']" routerLinkActive="btn-primary">form</a>
<a class="btn" [routerLink]="['info']" routerLinkActive="btn-primary">infos</a>
<a class="btn" [routerLink]="['observables']" routerLinkActive="btn-primary">Observables</a>
<app-search></app-search>

<div class="container">
        <div class="row">
<div class="col-10">
        <h3>outlet1</h3>
<router-outlet></router-outlet>
</div>
<div class="col-2">
    <h3>outlet2</h3>
        <router-outlet name="window2"></router-outlet>
        </div> 

</div></div>
