<!--The content below is only a placeholder and can be replaced.-->
<h3>Github search user</h3>
<div class="form-group">
  <label for="username" >Search user</label>
  <input id="username" type="text" name="username" #searchEl (input)="doSearch(searchEl.value)">
  
</div>
<div>{{someVar}}</div>
<div *ngIf="userItems; else loadingBlock">
  <ul *ngFor="let user of userItems ; index as i; odd as isOdd">
  
    <li> {{user.login}}</li>
  </ul>
  </div>


<ng-template #loadingBlock>
  <div>
    ....loading
  </div>
</ng-template>

