


<form [formGroup]="profileForm" (submit)="formSubmitted=true;">
  
  <div class="form-group">
    <label>
      First Name:
      <input type="text" formControlName="firstName"/>
    </label>
    <span class="errors" *ngIf="!profileForm.controls['firstName'].valid">
        <em *ngIf="profileForm.controls['firstName'].errors.required">Firstname is required</em>
        {{profileForm.controls['firstName'].errors |json}}
        {{firstName.errors |json}}
      </span>
    
    </div>
  
    <div class="form-group">
    <label>
      Last Name:
      <input type="text" formControlName="lastName"/>
      
    </label>
</div>
    <div class="form-group">
    <label>
        Has car:
        <mat-checkbox id="hasCar" class="amateur" color="primary"
                formControlName="hasCar"></mat-checkbox>
      
    </label>
  </div>
  <button type="submit" class="button button-block" [disabled]="!profileForm.valid" >Submit</button>
  {{profileForm.value |json}}
  
  </form>